@{
    ViewData["Title"] = "Clients";
}
<partial name="Partials/Sections/_AddClientForm" />
<section id="clients">
    <header>
        <h2>Clients</h2>
        <button type="button" class="btn btn-blue btn-add" data-modal="true" data-target="#addClientModal">Add Client</button>
    </header>
   

    <div class="surface">
        <partial name="Partials/Sections/_ClientList" />
    </div>

</section>