@{
    ViewData["Title"] = "Clients";
}

<section id="clients">
    <header>
        <h2>@ViewData["Title"]</h2>
        <button type="button" class="btn btn-blue btn-add">Add Client</button>
    </header>

    <div class="surface">
        <partial name="Partials/Sections/_ClientList" />
    </div>

</section>