@{
    ViewData["Title"] = "Projects";
}

<section id="projects">
    <header>
        <h2>@ViewData["Title"]</h2>
        <button type="button" class="btn btn-blue btn-add">Add Projects</button>
    </header>
</section>